<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="data source=tcp:ljd3qv2uzf.database.windows.net,1433;initial catalog=School_DB_Dev;integrated security=False;user id=DevelopAdmin@ljd3qv2uzf;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>